[submodule "Just/vendor/spdlog"]
	path = Just/vendor/spdlog
	url = https://github.com/kkabdol/spdlog.git
[submodule "Just/vendor/glfw"]
	path = Just/vendor/glfw
	url = https://github.com/kkabdol/glfw.git
[submodule "Just/vendor/imgui"]
	path = Just/vendor/imgui
	url = https://github.com/kkabdol/imgui.git
[submodule "Just/vendor/glm"]
	path = Just/vendor/glm
	url = https://github.com/kkabdol/glm.git
