[submodule "Just/vendor/spdlog"]
	path = Just/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Just/vendor/glfw"]
	path = Just/vendor/glfw
	url = https://github.com/kkabdol/glfw.git
[submodule "Just/vendor/imgui"]
	path = Just/vendor/imgui
	url = https://github.com/kkabdol/imgui.git
