# Directories
bin/*
bin-int/*

# Files

# Visual Studio files
.vs/
*.sln
*.vcxproj
*.filters
*.user

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb